.menu-item {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
  padding: 0 1ex;
}

.opacity-60-hover {
    opacity: 0.6;
    transition: 0.5s;
}
.opacity-60-hover:hover {
    opacity: 1;
}

.chart-bg {
    background: url(/images/chart-bg.png) no-repeat center bottom;
    background-size: contain;
}
